:root {
  /* =================================== */
  /* Colors 🎨                         */
  /* =================================== */

  /* --- Brand: Blue --- */
  --blue-100: #e9efff;
  --blue-200: #dde0f9;
  --blue-300: #a1c0f2;
  --blue-400: #71a1ec;
  --blue-500: #1362df;
  --blue-600: #336ddf;
  --blue-700: #0f4eb2;
  --blue-800: #082759;
  --blue-900: #07224d;
  --blue-500-rgb: 19, 98, 223;

  /* --- Neutral: Greys, Blacks, Whites --- */
  --white: #ffffff;
  --neutral-100: #fcfbfc;
  --neutral-150: #f5f5f5;
  --neutral-200: #efefef;
  --neutral-300: #909cb2;
  --neutral-500: #888888;
  --neutral-700: #595959;
  --neutral-800: #4c5a63;
  --neutral-900: #161a23;
  --black: #000000;

  /* --- Semantic: Red --- */
  --red-500: #dc3545;

  /* =================================== */
  /* Typography ✒️                      */
  /* =================================== */
  --font-family-base: "Mulish", sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 3.5rem;
  --font-size-xxxxl: 4.5rem;
  --font-size-display: 6rem;

  /* Line Heights */
  --line-height-base: 1.5;
  --line-height-tight: 1.2;

  /* Letter Spacing */
  --letter-spacing-tight: -0.5008px;

  /* =================================== */
  /* Spacing & Sizing 📏                 */
  /* =================================== */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-smd: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;
  --spacing-xxxl: 4rem;

  /* =================================== */
  /* Borders & Shadows ✨              */
  /* =================================== */
  --radius-sm: 0.25rem;
  --radius-default: 0.5rem;

  --shadow-sm: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.04);
  --shadow-md: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.08),
    0 0 0.125rem 0 rgba(0, 0, 0, 0.08);

  /* Icon Paths */
  --icon-user: url("../assets/icons/user.svg");
  --icon-email: url("../assets/icons/email.svg");
  --icon-password: url("../assets/icons/password.svg");
  --icon-calendar: url("../assets/icons/calendar.svg");
}
