// 1. All Sass @use rules MUST come first.
// This loads the Sass modules for Bootstrap and your custom styles.
@use "bootstrap/scss/bootstrap";
@use "styles/main";

html, body, app-root {
  height: 100%;
}

